html {
    /*background: #3F6B74;*/
    background: linear-gradient(rgba(63, 107, 116, 0.8), rgba(63, 107, 116, 0.8)),
    rgba(63, 107, 116, 0.8) url('../img/lent.png') no-repeat center;
    width: 900px;
    height: 663px;
    background-attachment: fixed;
}

.body-main {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 22px;
    color: #EFEFEF;
    line-height: 30px;
}

.about-text {

    padding-bottom: 30px;
}

.about-contacts {
    padding: 0;
}

#about-main {
    /*padding-top: 40px;*/
    /*padding-left: 10%;*/
    display: flex;
    justify-content: space-around;
    padding-left: 10%;

}

.content-center {
    padding-top: 6%;
    text-align: left;
    width: 620px;

}

.about-btn {
    width: 50px;
    padding-right: 10px;
}

