/* GENERAL */

html {
    /*font-family: 'Arial Hebrew Scholar';*/
    font-family: Helvetica;
    font-size: 16px;
    color: rgb(59,59,59);
    font-weight: lighter;
    /*color: #FFF;*/
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* IMAGES */

.logo-image {
    width: 60px;
}

.nav-icons {
    width: 30px;
}

/* NAVIGATION */
/*All*/
#header-main {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 80px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    color: #000;
}


.menu li a:hover {
    color: #008B8B;
    transition: all 0.4s ease-in-out;
}

.menu-btn {
    background-color: #FFF;
    box-shadow: none;
    border: none;
    padding-left: 0;
}

/*Left*/
.nav-logo {
    display: flex;
    align-items: center;
    padding-left: 7%;
}
.text-logo {
    color: #008B8B;
    font-size: 18px;
    margin-left: 5%;
}

/*Center*/
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    width: 75%;
    padding-left: 30px;
    padding-right: 30px;

}

.menu li {
    padding: 0;
    top: 0;
    bottom: 0;

}

.menu-links {
    font-size: 18px;

}

/*Right*/
.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
    padding-right: 7%
}



/* MAIN BODY */
.body-main {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: block;

    /*background-image: url('../img/background.jpeg');*/
}

#index-main {
    background: url("../img/background-light.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Content to the left*/
.content-left {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    min-width: 25%;
    margin-left: 7%;
    text-align: center;
    align-items: center;
}

/* h1,3 styles */
.welcome3 {
    margin: 60px 0 0;
}

.welcome1 {
    margin: 2% 0;
    font-weight: bold;
    font-size: 28px;
}

/*Buttons*/
.btn-default, .btn-default:active:focus {
    background-color: rgb(252,47,14);
    /*background-color: #135AE3;*/
    color: #FFF;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    margin: 15px;
    box-shadow: none;
}

.btn-bordered {
    border: 2px solid rgb(59,59,59);
    border-radius: 50px;
    color: rgb(59,59,59);
    background-color: rgba(255,255,255, 0);
    font-size: 14px;
    width: 120px;
    height: 30px;
}

.btn-bordered:hover {
    background-color: rgba(255,255,255, 0.7);
}

/*Content to the bottom*/
.all-bottom {
    display: flex;
    flex-direction: column;
    margin: 1% 7% 2%;
    background-color: rgba(255,255,255,0.5);
    /*background-color: rgba(36, 36, 36, 0.5);*/
    /*color: white;*/
    color: rgb(59,59,59);
    z-index: 1;
    align-content: center;
    justify-content: center;
}
.content-bottom {
    display: flex;
    align-content: center;
    justify-content: center;
}
.bottom-small{
    text-align: center;
    width: 30%;
    margin: 0 2% 2%;
}
.img-bottom {
    width: 100%;
}

.btns-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.h2-bottom {
    font-weight: lighter;
}
.h3-bottom {
    text-align: left;
    text-transform: uppercase;
}

/*FOOTER*/
.footer {
    background-color: #FFF;
    display: flex;
    list-style-type: none;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 16px;
}

.footer-topics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-icons {
    height: 30px;
}

.footer-links {
    padding: 8px;
}

.contacts {
    padding: 0 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.contacts a:hover {
    text-decoration: underline;
}

.important {
    font-weight: bolder;
    font-style: italic;
}