.body-main {
   background-image: linear-gradient(to bottom, #a3c0c0, #ffffff 150px);
    background-size: cover;
}

.logo-div {
    padding-left: 150px;
    padding-top: 40px;
}

.top-logo {
    height: 80px;
}

.main-text {
   padding-left: 18%;
   padding-right: 18%;
}

.h1 {
    text-decoration: none;
    font-weight: lighter;
    color: #008B8B;
    font-size: 40px;
}

.description {
    font-size: 22px;
    font-weight: lighter;
    line-height: 30px;
    text-align: justify;
}

.btn-orange {
    background: linear-gradient(to bottom, #ff5821, #FDA31C);
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    font-size: 22px;
}

.subtopics {

    font-size: 18px;
    font-weight: lighter;
    line-height: 26px;
    padding-right: 18%;
    padding-bottom: 30px;
    text-align: justify;
    color: rgb(40,75,80);
}

.subtopic {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    top: 0;
}

.subtopic-img {
    position: relative;
    font-size: 40px;
    color: #FFF;
}

.subtopic-text {
    padding-left: 20px;
    padding-top: 0;
}

.img-descr {
    top: 120px;
    right: 10px;

    position: absolute;

}

.green-btn {
    width: 40px;
    padding-right: 10px;
}

